<h3> Flights Form</h3>
 
 <%= form_with scope: :search, url: "/flights", method: "get" do %>
    <%= collection_select(
                          :flight,
                          :departing_airport_id, 
                          Airport.all, 
                          :id,
                          :name,
                          {:prompt => 'Select departing airport'}
                          ) %>
    <br>
    <br>
    <%= collection_select(
                          :flight,
                          :arriving_airport_id,
                          Airport.all,
                          :id,
                          :name,
                          {:prompt => 'Select arriving airport'} 
                          ) %>
    <br>
    <br>
    <%= select(
               :flight,
               :passengers,
               [1, 2, 3, 4],
               {:prompt => 'Number of passengers'},
               ) %>
    <br>
    <br>
    <%= collection_select(
                          :flight,
                          :takeoff_date,
                          Flight.distinct.select(:takeoff_date),
                          :takeoff_date,
                          :takeoff_date_formatted,
                          {:prompt => 'Date of flight'} 
                          ) %>
    <br>
    <br>
    <%= submit_tag("Search") %>
  <% end %>

<h4> Search Results</h4>
  <p>
  <% if @searched_flights %>
    <%= form_with url: "/bookings", method: "get" do |form| %>
    
      <% @searched_flights.each do |flight| %>
        <%= form.radio_button :searched_flight, flight.id %>
        <%= form.label :searched_flight, flight.takeoff_time_formatted %>
        <%= form.label :searched_flight, flight.takeoff_date %>
        <%= form.hidden_field :passengers, :value => @number_passengers %>
        <br>
        <br>
      <% end %>

    <%= form.submit %>
    <% end %>
  <% end %>
  </p>
  