<h3> Flights Form</h3>

 <%= form_with scope: :search, url: "/flights", method: "get" do %>
    <%= collection_select(
                          :flight,
                          :departing_airport_id, 
                          Airport.all, 
                          :id,
                          :name,
                          {:prompt => 'Select departing airport'}
                          ) %>
    <br>
    <br>
    <%= collection_select(
                          :flight,
                          :arriving_airport_id,
                          Airport.all,
                          :id,
                          :name,
                          {:prompt => 'Select arriving airport'} 
                          ) %>
    <br>
    <br>
    <%= select(
               :flight,
               :passengers,
               [1, 2, 3, 4],
               {:prompt => 'Number of passengers'},
               ) %>
    <br>
    <br>
    <%= collection_select(
                          :flight,
                          :takeoff_date,
                          Flight.distinct.select(:takeoff_date),
                          :takeoff_date,
                          :takeoff_date_formatted,
                          {:prompt => 'Date of flight'} 
                          ) %>
    <br>
    <br>
    <%= submit_tag("Search") %>
  <% end %>

<h4> Search Results</h4>
  <p>
  <% if @searched_flights %>
    <%= form_with url: "/bookings/new", method: "get" do  %>
      <% @searched_flights.each do |flight| %>
        <%= radio_button :booking, :flight_id, flight.id %>
        <%= label :searched_flight, flight.takeoff_time_formatted %>
        <%= label :searched_flight, flight.takeoff_date %>
        <br>
        <br>
      <% end %>
      <%= hidden_field :booking, :passengers, :value => @number_passengers %>
      <%= submit_tag("Submit") %>
    <% end %>
  <% end %>
  </p>
