<% if @booking %>
  <h3>New Booking</h3>
  <%= form_with model: @booking, method: "post" do |booking_form| %>
    <div class="booking-info">  
      <div class="booking-info-field">
        <%= "Date:" %>
      </div>
      <div class="booking-info-field">
        <%= booking_form.label :takeoff_date, @flight.takeoff_date_formatted %>
      </div>
      <div class="booking-info-field">
        <%= "Takeoff time:" %>
      </div>
      <div class="booking-info-field">
        <%= booking_form.label :takeoff_time, @flight.takeoff_time_formatted %>
      </div>
      <div class="booking-info-field">
        <%= "Flight duration:" %>
      </div>
      <div class="booking-info-field">
        <%= booking_form.label :duration, @flight.duration_formatted %>
      </div>  
      <div class="booking-info-field">
        <%= "Departing airport:" %>
      </div>
      <div class="booking-info-field">
        <%= booking_form.label :departing_airport, @flight.departing_airport.name %>
      </div>   
      <div class="booking-info-field">
        <%= "Arriving airport:" %>
      </div>
      <div class="booking-info-field">
        <%= booking_form.label :arriving_airport, @flight.arriving_airport.name %>
      </div>
      <div class="booking-info-field">
        <%= "Flight ID:" %>
      </div>
      <div class="booking-info-field">
        <%= booking_form.label :flight_id, @flight.id %>
      </div>
    </div>
    <div class="booking-passenger-form">
      <div><%= "Passengers:" %></div>
      <div><%= "#{@number_passengers}" %></div>
      <%= booking_form.fields_for :passengers do |passenger_form, index| %>
        <span class="passenger-name-field"><%= passenger_form.label :name, "Full name:" %></span>
        <span class="passenger-name-field"><%= passenger_form.text_field :name, :required => 'required'%></span>
        <%= passenger_form.label :email, "Email:" %>
        <%= passenger_form.email_field :email, :required => 'required' %>
      <% end %>    
    </div>
    <div class="booking-submit">
      <%= booking_form.hidden_field :flight_id, :value => @flight.id %>
      <%= booking_form.hidden_field :passengers, :value => @number_passengers %>
      <%= booking_form.submit %>
    </div>
  <% end %>
<% end %>
