<div class="confirmed-passenger-info">
  
  <% @booking.passengers.each_with_index do |passenger, index| %>
    <div class="passenger-info-number"><%= "Passenger #{index + 1}" %></div>
    <%= image_tag "email.svg" %>
    <%= passenger.email %>
    <%= image_tag "account.svg" %>
    <%= passenger.name %>
  <% end %>
</div>