<h2>New Booking Form</h2>

<p>
  <% if @booking %>
    <%= form_with url: "/bookings/create", method: "get" do  %>
      <%= "Date of flight:" %>
      <%= label :takeoff_date, @flight.takeoff_date_formatted %>
      <br>
      <%= "Takeoff time:" %>
      <%= label :takeoff_time, @flight.takeoff_time_formatted %>
      <br>
      <%= "Departing airport code:" %>
      <%= label :departing_airport, @flight.departing_airport.name %>
      <br>
      <%= "Arriving airport code:" %>
      <%= label :arriving_airport, @flight.arriving_airport.name %>
      <br>
      <%= "Flight ID:" %>
      <%= label :flight_id, @flight.id %>
      <br>
      <%= "Number of passengers:" %>
      <%= label :number_passengers, @number_passengers %>
    <% end %>
  <% end %>     
</p>
