<h2>New Booking Form</h2>

<p>
  <% if @booking %>
    <%= form_with url: "/bookings/create", method: "post" do  %>
      <%= "Date of flight:" %>
      <%= label :takeoff_date, @flight.takeoff_date_formatted %>
      <br>
      <%= "Takeoff time:" %>
      <%= label :takeoff_time, @flight.takeoff_time_formatted %>
      <br>
      <%= "Departing airport code:" %>
      <%= label :departing_airport, @flight.departing_airport.name %>
      <br>
      <%= "Arriving airport code:" %>
      <%= label :arriving_airport, @flight.arriving_airport.name %>
      <br>
      <%= "Flight ID:" %>
      <%= label :flight_id, @flight.id %>
      <br>
      <%= "Number of passengers:" %>
      <%= label :number_passengers, @number_passengers %>
      <br>
      <br>
      <% @number_passengers.times do |index| %>
        <%= "Passenger #{index + 1}: " %>
        <br>
        <br>
        <%= fields_for @booking.passengers.build do |passenger_form| %>
          <%= passenger_form.label :name, "Full name:" %>
          <%= passenger_form.text_field :name %>
          <br>
          <%= passenger_form.label :email, "Email:" %>
          <%= passenger_form.email_field :email %>
          <br>
          <br>
        <% end %>
      <% end %>
      <%= submit_tag("Submit") %>
    <% end %>
  <% end %>     
</p>
